

.form .field-wrapper {
  position: relative;
  width: 80%;
}

.form .field-wrapper label {
  font-weight: 600;
  line-height: 1.2rem;
  padding: 2px 0;
}
.form .field-wrapper.field-wrapper-has-error text,
.form .field-wrapper.field-wrapper-has-error textarea {
  border-color: #dc8000;
  font-size: 14px;
}

.form .field-wrapper.field-wrapper-has-error .form-error-lbl {
 

    line-height: 20px;
    height: 20px;
}
.form .field-wrapper .form-error-lbl {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  font-size: 11px;
  text-indent: 15px;
  color:  #fff;
  background:  #C0392B;
  line-height: 1em;
  transition: height 0.2s;
  overflow: hidden;
  white-space: nowrap;
}

.form input[type="text"],

.form input[type="file"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"],
.form input[type="date"],
.form input[type="color"],
.form input[type="time"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form select,
.form textarea {
  display: block;
  line-height: 20px;
  height: 60px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 14px;
  transition: all 0.2s ease-in;
  border: 1px solid #dc8000;
  margin: 0;
  border-radius: 0;
  
  &:focus {
    outline: none;
    font-size: 1.05rem;
    border-color: #448ccb;
  }
}

.form textarea {
  height: 90px;
}

.form-grid .grid-cell {
  position: relative;
}

.form-grid input,
.form-grid select,
.form-grid textarea,
.form-grid .ecmt-input-wrapper,
.form-grid .ecmt-select-wrapper,
.form-grid .ecmt-textarea-wrapper {
  width: 100%;
}

.form .submit-btn {
  margin-bottom: 10px;
}

.form-ty {
  display: block;
  height: 0;
  line-height: 0;
  transition: height 0.2s;
  overflow: hidden;
}

.form input[type="button"]:disabled, .submit-btn:disabled {
  color:  #fff;
  background: $light-grey;
}

.form.form-valid .submit-btn {
  color:  #fff;
  background: #4BB543;
}

.button {
  width: 200px;
  padding: 15px 32px;
  border: none;
  color:  #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
  
  &:focus {
    outline: none;
  }
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}














*,*:before,*:after {box-sizing: border-bpx;}
body {font-family: sans-serif;}
.container {margin: 60px 0; text-align: center;}

.button {
  border: 2px solid #2C3E50;
  border-radius: 6px;
  color: #2C3E50;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  transition: .3s all;
  text-decoration: none;

  &.button-arrow-left:hover {
    margin-left: -20px;
    padding-left: 40px;

    &:before,
    &:after {
      background: #ffffff;
      border-radius: 4px;
      content: " ";
      display: inline-block;
      height: 4px;
      left: 10px;
      position: absolute;
      top: 50%;
      transition: .1s all;
      transform: translate(0, 3px);
      width: 0;
    }

    &:before {
      transform-origin: bottom left;
      transform: translate(0, -2px) rotate(-45deg);
    }

    &:after {
      transform-origin: top left;
      transform: translate(0, -2px) rotate(45deg);
    }

    &:hover:before,
    &:hover:after{
      background: #2C3E50;
      width: 12px;
    }
  }

  &.button-arrow-right:hover {
    margin-right: -20px;
    padding-right: 40px;

    &:before,
    &:after {
      background: #ffffff;
      border-radius: 4px;
      content: " ";
      display: inline-block;
      height: 4px;
      right: 10px;
      position: absolute;
      top: 50%;
      transition: .1s all;
      transform: translate(0, 3px);
      width: 0;
    }

    &:before {
      transform-origin: top right;
      transform: translate(0, -2px) rotate(-45deg);
    }

    &:after {
      transform-origin: bottom right;
      transform: translate(0, -2px) rotate(45deg);
    }

    &:hover:before,
    &:hover:after{
      background: #2C3E50;
      width: 12px;
    }
  }
}
