/*Set the parent <li>’s CSS position property to ‘relative’.*/
.menubare ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #25a6ba;
  border:1px solid #fff;
}
.menubare  {
  padding-left: 150px;
  width: 85%;
}
.menubare ul>li{
  border-left:1px solid #fff;
}
 @-moz-document url-prefix() {
select {
    direction: rtl;
}
option{
    text-align: left;
}
}
  display: none; 
  list-style-type: none; 
  margin: -23px 0 0 131px;
   padding: 0; 
   border: 0
}
.menubare ul li {
  display: block;
  position: relative;
  float: left;
  background: #25a6ba;
  border-bottom:1px solid #fff;
}

/*The CSS to hide the sub menus.
*/

.menubare li ul { display: none; }

.menubare ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

.menubare ul li a:hover { background: #25a6ba; }

/*Displays the dropdown menu on hover.*/

.menubare li:hover > ul {
  display: block;
  position: absolute;

  
}

.menubare li:hover li { float: none; }

.menubare li:hover a { background: #25a6ba; }

.menubare li:hover li a:hover { background: #962e2e; color:#fff;}

.main-navigation li ul li { border-top: 0; }
/*Displays second level dropdown menus to the right of the first level dropdown menu.*/
.menubare ul ul ul {
  left: 100%;
  top: 0;
}

/*Simple clearfix.*/


.menubare ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }






/*Set the parent <li>’s CSS position property to ‘relative’.*/
.menubare ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;

  margin: 0;
  background: #25a6ba;
  border:1px solid #fff;
}
.menubare ul>li>li{
  background-color: #5bc0de;
    border-left:1px solid #fff;
}
.menubare ul li {

  display: block;
  position: relative;
  float: left;
  background: #25a6ba;
  border-bottom:1px solid #fff;
}

/*The CSS to hide the sub menus.
*/

li ul { display: none; }

ul li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

ul li a:hover { background: #25a6ba; }

/*Displays the dropdown menu on hover.*/

li:hover > ul {
  display: block;
  position: absolute;

  
}

li:hover li { float: none; }

li:hover a { background: #25a6ba; }

li:hover li a:hover { background: #962e2e; color:#fff;}

.main-navigation li ul li { border-top: 0; }
/*Displays second level dropdown menus to the right of the first level dropdown menu.*/
ul ul ul {
  left: 100%;
  top: 0;
}

/*Simple clearfix.*/


ul:before,
ul:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

ul:after { clear: both; }
/* controle de saisie */
input.controle {
  outline:0;
  font-size:14px;
  width:250px;
} 
label.label {
  display:inline-block;
  width:200px;
  text-align: right;
  font-style: italic;
  margin-right:5px;
}
input.controle:valid {
  border:3px solid #0a0;
}
input.controle:invalid {
  border:3px solid #a00;
}
input.controle:valid + span:before  {
  content: "\f00c";
  font-family: "FontAwesome";
  color:#0a0;
  font-size: 1.5em;
} 
input.controle:invalid + span:before  {
  content: "\f00d";
  font-family: "FontAwesome";
  color:#a00;
  font-size: 1.5em;
}




