
{% extends "front/template.html" %}
{% block head %}
{% endblock  %}
{% block content %}
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                             <h4>Reverse Machine</h4>
                             <h2>Reverse Vending have over 32 Years Reverse Vending Experience</h2>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                             <p>Reverse Vending is an International company that specialise in reverse vending systems,design,installation,material recovery and recycling, through its experienced management team in RVM Systems technology,recycling and waste management.</p>
                             <p> <a href="https://plus.google.com/+templatemo" target="_parent">templatemo</a>. Thank you.</p>
                        </div>
                   </div>
              </div>

              <div class="col-md-6 col-sm-12">
                   <div class="wow fadeInUp about-image" data-wow-delay="0.6s">
                        <img src="{{ url_for('static', filename='images/index/5.jpg') }}" class="img-responsive" alt="">
                   </div>
              </div>
              
         </div>
    </div>
</section>


<!-- TEAM -->
<section id="team" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Advantages</h2>
                        <h4>It is easy &amp; friendly</h4>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="{{ url_for('static', filename='images/Gif/rvm_systems_rvc1.gif') }}" class="img-responsive" alt="">
                             <div class="team-hover">
                                  <div class="team-item">
                                       <h4></h4> 
                                       <ul class="social-icon">
                                            <li><a href="#" class="fa fa-linkedin-square"></a></li>
                                            <li><a href="#" class="fa fa-envelope-o"></a></li>
                                       </ul>
                                  </div>
                             </div>
                   </div>
                   <div class="team-info">
                        <h3>Easy to Manage</h3>
                        
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="{{ url_for('static', filename='images/Gif/rvm_systems_rvc2.gif') }}" class="img-responsive" alt="">
                             <div class="team-hover">
                                  <div class="team-item">
                                       <ul class="social-icon">
                                            <li><a href="#" class="fa fa-instagram"></a></li>
                                            <li><a href="#" class="fa fa-flickr"></a></li>
                                       </ul>
                                  </div>
                             </div>
                   </div>
                   <div class="team-info">
                        <h3>Easy to clean</h3>
                   </div>
              </div>

              <div class="col-md-4 col-sm-4">
                   <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="{{ url_for('static', filename='images/Gif/rvm_systems_rvc3.gif') }}" class="img-responsive" alt="">
                             <div class="team-hover">
                                  <div class="team-item">
                                       <h4></h4>
                                       <ul class="social-icon">
                                            <li><a href="#" class="fa fa-github"></a></li>
                                            <li><a href="#" class="fa fa-google"></a></li>
                                       </ul>
                                  </div>
                             </div>
                   </div>
                   <div class="team-info">
                        <h3>Easy to usee</h3>
                   </div>
              </div>
              
         </div>
    </div>
</section>


<!-- MENU-->
<section id="menu" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Reverse vending 101: </h2>
                        <h3>A beginner’s guide</h3>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <!-- MENU THUMB -->
                   <div class="menu-thumb">
                        <a href="images/index/menu-image1.jpg" class="image-popup" title="American Breakfast">
                             <img src="images/index/menu-image1.jpg" class="img-responsive" alt="">

                             <div class="menu-info">
                                  <div class="menu-item">
                                       <h3>American Breakfast</h3>
                                       <p>Tomato / Eggs / Sausage</p>
                                  </div>
                                  <div class="menu-price">
                                       <span>$25</span>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <!-- MENU THUMB -->
                   <div class="menu-thumb">
                        <a href="images/menu-image2.jpg" class="image-popup" title="Self-made Salad">
                             <img src="images/menu-image2.jpg" class="img-responsive" alt="">

                             <div class="menu-info">
                                  <div class="menu-item">
                                       <h3>Self-made Salad</h3>
                                       <p>Green / Fruits / Healthy</p>
                                  </div>
                                  <div class="menu-price">
                                       <span>$18</span>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <!-- MENU THUMB -->
                   <div class="menu-thumb">
                        <a href="images/menu-image3.jpg" class="image-popup" title="Chinese Noodle">
                             <img src="images/menu-image3.jpg" class="img-responsive" alt="">

                             <div class="menu-info">
                                  <div class="menu-item">
                                       <h3>Chinese Noodle</h3>
                                       <p>Pepper / Chicken / Vegetables</p>
                                  </div>
                                  <div class="menu-price">
                                       <span>$34</span>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <!-- MENU THUMB -->
                   <div class="menu-thumb">
                        <a href="images/menu-image4.jpg" class="image-popup" title="Rice Soup">
                             <img src="images/menu-image4.jpg" class="img-responsive" alt="">

                             <div class="menu-info">
                                  <div class="menu-item">
                                       <h3>Rice Soup</h3>
                                       <p>Green / Chicken</p>
                                  </div>
                                  <div class="menu-price">
                                       <span>$28</span>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <!-- MENU THUMB -->
                   <div class="menu-thumb">
                        <a href="images/menu-image5.jpg" class="image-popup" title="Project title">
                             <img src="images/menu-image5.jpg" class="img-responsive" alt="">

                             <div class="menu-info">
                                  <div class="menu-item">
                                       <h3>Deli Burger</h3>
                                       <p>Beef / Fried Potatoes</p>
                                  </div>
                                  <div class="menu-price">
                                       <span>$46</span>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>

              <div class="col-md-4 col-sm-6">
                   <!-- MENU THUMB -->
                   <div class="menu-thumb">
                        <a href="images/menu-image6.jpg" class="image-popup" title="Project title">
                             <img src="images/menu-image6.jpg" class="img-responsive" alt="">

                             <div class="menu-info">
                                  <div class="menu-item">
                                       <h3>Big Flat Fried</h3>
                                       <p>Pepper / Crispy</p>
                                  </div>
                                  <div class="menu-price">
                                       <span>$30</span>
                                  </div>
                             </div>
                        </a>
                   </div>
              </div>


         </div>
    </div>
</section>


<!-- TESTIMONIAL -->
<section id="testimonial" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-12 col-sm-12">
                   <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                        <h2>Recycling your empties is as easy as 1-2-3.</h2>
                   </div>
              </div>  

              <div class="col-md-offset-2 col-md-8 col-sm-12">
                   <div class="owl-carousel owl-theme">
                        <div class="item">
                             <p>1: Insert your empty containers into the chute at the front of the reverse vending machine.</p>
                                  <div class="tst-author">
                                     
                                  </div>
                        </div>

                        <div class="item">
                             <p>2: When you’re finished, tap the button at the front of the machine..</p>
                                  <div class="tst-author">
                                       
                                  </div>
                        </div>

                        <div class="item">
                             <p>3: Take the receipt that the machine prints out. (In regions with container deposit laws, the receipt shows the value of your recycling refund, which can usually be redeemed at the cash register.).</p>
                                  <div class="tst-author">
                                      
                                  </div>
                        </div>

                   </div>
              </div>

         </div>
    </div>
</section>  


<!-- ABOUT -->
<section id="about" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-6 col-sm-12">
                   <div class="about-info">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.2s">
                             <h2>How to use a reverse vending machine</h2>
                             
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.4s">
                             <p>Wondering what a reverse vending machine is and how it works? Check out this video on using a reverse vending machine - an automated way to collect, sort and handle the return of used drink containers.</p>
                             <p> <a href="https://plus.google.com/+templatemo" target="_parent"></a></p>
                        </div>
                   </div>
              </div>

              <div class="col-md-6 col-sm-12">
                  <iframe tabindex="-1" class="video-iframe" src="https://tomra.23video.com/v.ihtml/player.html?showBigPlay=1&amp;source=embed&amp;photo%5fid=18687881" style="width:600px; height:500px; position: relative; top: 0; left: 0;" frameborder="0" border="0" scrolling="no" allowfullscreen="1" mozallowfullscreen="1" webkitallowfullscreen="1"></iframe>
                   </div>
              </div>
              
         </div>
    </div>
</section>
<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">
<!-- How to change your own map point
      1. Go to Google Maps
      2. Click on your location point
      3. Click "Share" and choose "Embed map" tab
      4. Copy only URL and paste it within the src="" field below
-->
              <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="0.4s">
                   <div id="google-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" allowfullscreen></iframe>
                   </div>
              </div>    

              <div class="col-md-6 col-sm-12">

                   <div class="col-md-12 col-sm-12">
                        <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                             <h2>Contact Us</h2>
                        </div>
                   </div>

                   <!-- CONTACT FORM -->
                   <form action="#" method="post" class="wow fadeInUp" id="contact-form" role="form" data-wow-delay="0.8s">

                        <!-- IF MAIL SENT SUCCESSFUL  // connect this with custom JS -->
                        <h6 class="text-success">Your message has been sent successfully.</h6>
                        
                        <!-- IF MAIL NOT SENT -->
                        <h6 class="text-danger">E-mail must be valid and message must be longer than 1 character.</h6>

                        <div class="col-md-6 col-sm-6">
                             <input type="text" class="form-control" id="cf-name" name="name" placeholder="Full name">
                        </div>

                        <div class="col-md-6 col-sm-6">
                             <input type="email" class="form-control" id="cf-email" name="email" placeholder="Email address">
                        </div>

                        <div class="col-md-12 col-sm-12">
                             <input type="text" class="form-control" id="cf-subject" name="subject" placeholder="Subject">

                             <textarea class="form-control" rows="6" id="cf-message" name="message" placeholder="Tell about your project"></textarea>

                             <button type="submit" class="form-control" id="cf-submit" name="submit">Send Message</button>
                        </div>
                   </form>
              </div>

         </div>
    </div>
</section>      



{% endblock content %}