{% extends "base.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#">
                <em class="fa fa-home"></em>
            </a></li>
            
            <li class="active">Produit</li>
    
        
          <li class="active">Ajouter une piéce</li>
        

        </ol>
    </div><!--/.row-->
    
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">

    <div class="columns is-centered form-dom">
<div class="column is-one-third form js-form form-has-loaded" data-required-field-text="Field cannot be empty">

     <h1>Nouvelle Piéce</h1> <form method="POST" action="product/new" name="newproduct" enctype="multipart/form-data">
         <fieldset>
         <div id="etape2">
             <legend>Etape2/2: Détails de la piéce</legend>

  <div class="column"> 
   <div class="column">
   
    <div class="field-wrapper">
      <label for="fullName">Nom</label>
      <input id="fullName" required="required" placeholder="Nom" data-input-validation='[{"message":"Name is required","regexp":"0"}]' type="text" name="nom">
      <span class="form-error-lbl"></span></div></div></div>
   

<div class="columns">
  <div class="column">
    <div class="field-wrapper">
      <label for="Stock">Statut</label>
      <select class="form-control"  d="fullName" required="required" name="status" id="status">
                                <option value="choisir"> choisir</option>
                                <option value="In Stock">In Stock</option>
                                <option value="Out of Stock">Out of Stock</option>
                            </select>
      <span class="form-error-lbl"></span>
    </div>
  </div>
</div>
<div class="columns"  id="qte">
  <div class="column">
    <div class="field-wrapper">
      <label for="msg">Quantité</label>
      <input type="number" id="msg" required="required" placeholder="La quantité" name="quantite">
      <span class="form-error-lbl"></span>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="field-wrapper">
      <label for="Stock">Image</label>
     <input type="file" id="image" name="image">
</span>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="field-wrapper">
      <label for="prix">Prix</label>
     <input type="number" id="msg"  name="prix">
</span>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field-wrapper">
      <label for="remise">Remise</label>
      <input type="radio" name="discount"  value="OUI" >Oui
      <input type="radio" value="NON" name="discount" value="NON" >Non

      <span class="form-error-lbl"></span>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="field-wrapper">
      <label for="msg">Description</label>
      <textarea id="msg" required="required" placeholder="Votre Description" name="description">
      
      </textarea>
      <span class="form-error-lbl"></span>
    </div>
  </div>
</div><br> 

<div class="columns">
  <div class="column field-wrapper">
   <div class="container">
        <input type="submit" class="button submit-btn" disabled="">
<a class="button button-dark button-arrow-right" id="precident">Précident</a>
</div>

    <p>
      Please fill in fields marked with *.
    </p>
  </div></div></div></fieldset>




<!--------------------------etape 1 ------------------------>


<!--------------------------etape 1 ------------------------>


<!--------------------------etape 1 ------------------------>
  <div id="etape1"><fieldset>
      <legend>Etape 1/2: Choix des données</legend>
<!------<div class="columns">
  <div class="column">
    <div class="field-wrapper">
    <label for="marque" >Marque</label>
  <select  id="marque" required="required" name="marque" onchange="show(this.value)">
   <option value="" >Selectionner</option>
<?PHP foreach($listeVoiture1 as $row){ ?><option value="<?php echo $row['marque']; ?>"> <?php echo $row['marque']; ?></option><?php }?>

<option value="">ajouter une marque</option>
</select> 
      <span class="form-error-lbl"></span>
</div></div></div>
<div id="txtHint"></div>

<div class="columns">
  <div class="column">
    <div class="field-wrapper">
<label for="cat">Catégorie</label>
  <select  id="cat" required="required" name="categorie" onchange="showcat(this.value)"> <option value="">Selectionner</option>
<?PHP foreach($listecategorie as $row){ ?><option value="<?php echo $row['nom_cat']; ?>"> <?php echo $row['nom_cat']; ?></option><?php }?>
<option value="">Ajouter Catégorie</option>
</select> <span class="form-error-lbl"></span></div></div></div>

<div id="Hinttextcat"></div>---->



<!-------------------constructeur------------------------
<div class="columns">
  <div class="column">
    <div class="field-wrapper">

<label for="const">Constructeur</label>
<select id="const" name="constructeur" required="required" > 
<option>Selectionner</option>
<?PHP foreach($listeconstructeur as $row){ ?><option value="<?php echo $row['id']; ?>"> <?php echo $row['nom_const']; ?></option><?php }?></select>
<span class="form-error-lbl"></span></div></div></div>
<div class="columns">
  <div class="column field-wrapper">
   

    <p>
      Please fill in fields marked with *.
    </p>
  </div></div>
<div class="container">
<a class="button button-dark button-arrow-right" id="suivant">Right</a>
</div>

---->
</div>
</fieldset>
</form>

</div>
</div>
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
$(function() {
$('#qte').hide(); 
$('#etape1').hide();
 $('#suivant').click(function(){
   
        $('#etape2').show(); 

$('#etape1').hide();
    
});
 $('#precident').click(function(){
   
        $('#etape1').show(); 

$('#etape2').hide();
    
});

$('#status').change(function(){
    if($('#status').val() == 'In Stock') {
        $('#qte').show(); 
    } else {
        $('#qte').hide(); 
    } 
});
});
</script>
<script>
(function () {
"use strict";

var FormValidation = function(obj) {
    var inputField = function (data) {
        this.obj = data;
        this.validations = typeof data.dataset.inputValidation !== "undefined" ? getValidations(data.dataset.inputValidation) : [];
        this.isValid = true;
        this.errorText = [];
    };
    var validation = function (data) {
        this.message = data.message;
        this.regexp = data.regexp;
    };

    var submitBtnCssClass = "submit-btn",
        formValidCssClass = "form-valid",
        errorCssClass = "field-wrapper-has-error",
        validTagNames = ["input", "textarea", "select"],
        inputFields = getValidTagNames(),
        submitBtn = obj.getElementsByClassName(submitBtnCssClass)[0],
        requiredFieldText = obj.dataset.requiredFieldText,
        isValid = false,
        lookup = {};

    function getValidations(inputValidation) {
        var data = JSON.parse(inputValidation);
        var items = [];
        for (var i = 0; i < data.length; i++) {
            items.push(new validation(data[i]));
        }

        return items;
    };

    function validateForm(e) {
        var isValidForm = true;
        if (e.target.type !== "button") {
            var input = lookup[e.target.id];

            // Validate input
            validateInputFieldWithMarkup(input);
        } else {
            // Todo: validate on button click
            getValidTagNames().forEach(function(field) {
                validateInputFieldWithMarkup(field);
            });
        }

        // Validate form and activate button if form is valid
        getValidTagNames().forEach(function (field) {
            if (!validateInputField(field)) {
                isValidForm = false;
                return;
            }
        });

        isValid = isValidForm;

        if (isValid) {
            submitBtn.disabled = false;

            if (!obj.classList.contains(formValidCssClass)) {
                obj.classList.add(formValidCssClass);
            }
        } else {
            submitBtn.disabled = true;
            obj.classList.remove(formValidCssClass);
        }
    };

    function validateInputField(field) {
        field.isValid = true;

        if (field.obj.required && hasEmptyValue(field.obj.value)) {
            field.isValid = false;
        }

        if (!isEmpty(field.validations)) {
            for (var i = 0; i < field.validations.length; i++) {
                if (!isValidRegexp(field.validations[i].regexp, field.obj.value) && field.validations[i].regexp !== null) {
                    field.isValid = false;
                }
            }
        }

        return field.isValid;
    };

    function validateInputFieldWithMarkup(input) {
        var validations = input.validations;
        var errorMsg = [], error = false;

        if (validations.length > 0) {
            for (var i = 0; i < validations.length; i++) {
                if (!isValidRegexp(validations[i].regexp, input.obj.value) && validations[i].regexp !== null) {
                    errorMsg.push(validations[i].message);
                    error = true;
                }
            }

            if (hasEmptyValue(input.obj.value) && input.obj.required) {
                errorMsg.push(requiredFieldText);
                error = true;
            }

            if (error) {
                setInvalidMarkup(input, errorMsg);
            } else {
                setValidMarkup(input);
                input.isValid = true;
            }
        } else if (input.obj.required) {
            if (hasEmptyValue(input.obj.value)) {
                setInvalidMarkup(input, [requiredFieldText]);
            } else {
                setValidMarkup(input);
            }
        }
    };

    function getValidTagNames() {
        var tagNames = [], tagName;

        for (var i = 0; i < validTagNames.length; i++) {
            tagName = obj.getElementsByTagName(validTagNames[i]);
            if (typeof tagName !== "undefined") {
                for (var j = 0; j < tagName.length; j++) {
                    tagNames.push(new inputField(tagName[j]));
                }
            }
        }

        return tagNames;
    };

    // Input Field Required Markup
    function setRequiredMarkup(input) {
        input.previousSibling.previousSibling.outerHTML += " *";
    };

    //Input Field Valid Markup
    function setValidMarkup(input) {
        input.obj.parentElement.classList.remove(errorCssClass);

        input.isValid = true;
    };

    //Input Field Invalid Markup
    function setInvalidMarkup(input, errorMsg) {
        var errorElement = input.obj.nextSibling.nextSibling;

        if (typeof errorElement !== "undefined" && errorElement) {
            errorElement.textContent = errorMsg.join(", ");
            input.isValid = false;
        }

        var pNodes = input.obj.parentNode.classList;

        for (var i = 0; i < pNodes.length; i++) {
            if (pNodes[i] === errorCssClass) {
                return;
            }
        }

        input.obj.parentElement.className += " " + errorCssClass;
    };

    function isEmpty(_obj) {
        for (var prop in _obj) {
            if (_obj.hasOwnProperty(prop))
                return false;
        }

        return true && JSON.stringify(_obj) === JSON.stringify({});
    };

    function isValidRegexp(regexp, value) {
        if (regexp == 0) { // max 30 chars
            regexp = /^[a-zA-Z0-9<>()\[\]\/\.,;:-åäöÅÄÖ\s]{0,250}$/;
        } else if (regexp == 1) { // numbers only
            regexp = /^[0-9]*$/;
        } else if (regexp == 2) { // email
            regexp = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        }

        return new RegExp(regexp).test(value);
    };

    function hasEmptyValue(val) {
        return val == null || val === "";
    };

    // Shorcut function for debugging
    function debug(text, _obj) {
        if (typeof _obj === "undefined") { _obj = ""; }
        console.log(text, _obj);
    };

    function init() {
        if (inputFields.length === 0) return;

        // Create a lookup array to easily find inputs by id
        for (var i = 0, len = inputFields.length; i < len; i++) {
            lookup[inputFields[i].obj.id] = inputFields[i];
        };

        obj.addEventListener("blur", validateForm, true);

        if (!isValid) {
            submitBtn.disabled = true;
        }

        // Add * for required fields
        inputFields.forEach(function (field) {
            if (field.obj.required) {
                setRequiredMarkup(field.obj);
            }
        });
    };

    init();
};

var form = document.getElementsByClassName("js-form")[0];
form.classList.remove("form-has-loaded");

FormValidation(form);

})();
</script>

{% endblock content %}